.App {
  background-color: aquamarine;
  width: 50%;
  max-width: 500px;
  padding: 20px 0px 15px 0px;

  text-align: center;

  height: 100%;

  margin: auto;
  box-shadow: 0 10px 50px rgb(56, 64, 151);
}

.img {
  height: 180px;
  width: 250px;
  border-radius: 50%;
  border: 3px solid #272133;

  margin: 40px auto;
  box-shadow: 0 10px 50px rgb(13, 169, 221);
}
card {
  padding-bottom: 25px;
}
